.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;

  &__btns {
  gap: 10px;
  display: flex;
}

}

// .header__btns {
//   gap: 10px;
//   display: flex;
// }
